[submodule "privoxy-adblock"]
	path = deprecated/privoxy-adblock
	url = ../privoxy-adblock.git
[submodule "easylist-pac-privoxy"]
	path = easylist-pac-privoxy
	url = ../easylist-pac-privoxy.git
	branch = master
[submodule "macOS-clamAV"]
	path = macOS-clamAV
	url = ../macOS-clamAV.git
