<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.essandess.easylist-pac</string>
	<key>Program</key>
	<string>/bin/bash</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
 		<string>-c</string>
	<string>export PATH=$PATH:/opt/local/bin ; export PROXY_PAC_DIRECTORY=/Library/WebServer/Documents ; export PYTHONIOENCODING=utf_8 ; /bin/mkdir -p /usr/local/etc ; ( /bin/test -f $PROXY_PAC_DIRECTORY/proxy.pac.orig || /usr/bin/install -m 644 -S $PROXY_PAC_DIRECTORY/proxy.pac $PROXY_PAC_DIRECTORY/proxy.pac.orig ) &amp;&amp; /usr/local/bin/easylist_pac.py -b 127.0.0.1:8119 -d /usr/local/etc -P $PROXY_PAC_DIRECTORY/proxy.pac.orig &amp;&amp; /usr/bin/install -m 644 -g admin -S /usr/local/etc/proxy.pac $PROXY_PAC_DIRECTORY/proxy.pac</string>
	</array>
        <key>RunAtLoad</key>
        <true/>
        <key>StartCalendarInterval</key>
        <array>
                <dict>
                        <key>Weekday</key>
                        <integer>7</integer>
                        <key>Hour</key>
                        <integer>1</integer>
                        <key>Minute</key>
                        <integer>10</integer>
                </dict>
        </array>
 	<key>StandardErrorPath</key>
	<string>/var/log/system.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/system.log</string>
</dict>
</plist>
