<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Disabled</key>
        <string>false</string>
	<key>Label</key>
	<string>net.openbsd.pf.plist</string>
        <key>WorkingDirectory</key>
        <string>/var/run</string>
	<key>Program</key>
	<string>/bin/bash</string>
	<key>ProgramArguments</key>
	<array>
                <string>/bin/bash</string>
                <string>-c</string>
		<string>for tt in {1..4}; do if [[ `/sbin/ifconfig | /opt/local/bin/pcregrep -M -o &apos;^[^\t:]+:([^\n]|\n\t)*status: active&apos; | /usr/bin/egrep -o -m 1 &apos;^[^\t:]+&apos;` = &apos;&apos; ]]; then /bin/sleep 45; else /sbin/pfctl -Fall &amp;&amp; /sbin/pfctl -ef /etc/pf.conf; break; fi; done</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceDescription</key>
	<string>OpenBSD Packet Filter (pf)</string>
	<key>StandardErrorPath</key>
	<string>/var/log/pf.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/pf.log</string>
</dict>
</plist>
