<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.openbsd.pf.brutexpire</string>
	<key>Program</key>
	<string>/sbin/pfctl</string>
	<key>ProgramArguments</key>
	<array>
		<string>/sbin/pfctl</string>
		<string>-t</string>
		<string>bruteforce</string>
		<string>-T</string>
		<string>expire</string>
		<string>604800</string>
	</array>
        <key>RunAtLoad</key>
        <false/>
        <key>StartInterval</key>
        <integer>86400</integer>
	<key>StandardErrorPath</key>
	<string>/var/log/pf.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/pf.log</string>
</dict>
</plist>
