<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.adblockplus.privoxy-adblock.plist</string>
	<key>Program</key>
	<string>/bin/bash</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
 		<string>-c</string>
	<string>/usr/local/bin/privoxy-adblock.sh &amp;&amp; /bin/launchctl unload -w /Library/LaunchDaemons/org.macports.Privoxy.plist &amp;&amp; /bin/launchctl load -w /Library/LaunchDaemons/org.macports.Privoxy.plist</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>90450</integer>
	<key>ServiceDescription</key>
	<string>GitHub skroll/privoxy-adblock fork</string>
	<key>StandardErrorPath</key>
	<string>/var/log/system.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/system.log</string>
</dict>
</plist>
